
{{#timeline-content items=items as |item|}}
    <div class="content-post  {{if (is-odd item) 'right-content'}}">
        <div class="header">
            <img src="https://cray.bg/themes/time-travel/wp-content/uploads/2013/07/photodune-2243001-urban-style-xs1.jpg" alt="">
        </div>
        <div class="content">
            <p>{{item}}Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Du.</p>
        </div>
        <div class="fotter">

        </div>

    </div>
    {{#link-to 'xd'}}asd{{/link-to}}

{{/timeline-content}}